/* RecipePage.css */
.recipe-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.recipe-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 30%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.recipe-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.recipe-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.recipe-card p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.recipe-card a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #202d3b;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.recipe-card a:hover {
  background-color: #0056b3;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  background-color: #fcc36e;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button.active {
  background-color: #fcc36e;
}

.pagination button:hover {
  background-color: #d4a64a;
}
