/* index.css */



body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Georgia', serif;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color:  #202d3b; 
  color:  #007bff;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.recipe-card,.Saved-rec {
  background-color: rgb(232, 219, 210);
  border: 1px solid #e8dada;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 300px;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.recipe-card:hover {
  transform: scale(1.02);
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-family: 'Poppins', sans-serif;
}

.recipe-detail {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-detail h1 {
  margin-bottom: 20px;
}

.recipe-detail ul {
  list-style-type: none;
  padding: 0;
}

.recipe-detail li {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
}

.recipe-detail p {
  line-height: 1.6;
}

.saved-recipes {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.saved-recipes h2 {
  margin-bottom: 20px;
}
